android-chrome-192x192.png
android-chrome-512x512.png
apple-touch-icon.png
favicon-16x16.png
favicon-32x32.png
favicon-compiled.svg
favicon-compiling.svg
favicon-error.svg
favicon.ico
favicon.svg
img
logo-horizontal.png
logo_sw.svg
mask-favicon.svg
overleaf_og_logo.png
