extends ../layout-react

block entrypointVar
	- entrypoint = 'pages/template'

block vars
	- const suppressNavContentLinks = true
	- const suppressNavbar = true
	- const suppressFooter = true
	- bootstrap5PageStatus = 'enabled' // One of 'disabled', 'enabled', and 'queryStringOnly'
	- isWebsiteRedesign = false

block append meta
	meta(name="ol-template" data-type="json" content=template)
	meta(name="ol-languages" data-type="json" content=languages)
	meta(name="ol-userIsAdmin" data-type="boolean" content=hasAdminAccess())

block content
	#template-root

