.ide-redesign-python-editor-split {
  height: 100%;
}

.ide-redesign-python-output-pane {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--ide-redesign-background);
  color: var(--ide-redesign-color);
  border-top: 1px solid var(--border-divider);
}

.ide-redesign-python-output-pane-toolbar {
  display: flex;
  align-items: center;
  height: var(--toolbar-height);
  border-bottom: 1px solid var(--toolbar-border-color);
}

.ide-redesign-python-output-pane-toolbar-left {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: var(--spacing-02);
}

.ide-redesign-python-output-pane-run-button-wrapper {
  margin-left: var(--spacing-04);

  .btn-primary:hover {
    z-index: auto;
  }
}

.ide-redesign-python-output-pane-body {
  flex: 1;
  overflow: auto;
  padding: var(--spacing-06);
  font-family: DM Mono, monospace;
  font-size: var(--font-size-02);
  line-height: var(--line-height-03);
}

.ide-redesign-python-output-pane-placeholder {
  color: var(--content-secondary);
}

.ide-redesign-python-output-pane-line {
  white-space: pre-wrap;
  word-break: break-word;
  min-height: var(--line-height-03);
}

.ide-redesign-python-output-pane-line-info {
  color: var(--content-info);
}

.ide-redesign-python-output-pane-line-stderr {
  color: var(--red-50);
}

.ide-redesign-python-output-pane-placeholder,
.ide-redesign-python-output-pane-error {
  white-space: pre-wrap;
}

.ide-redesign-python-output-pane-error {
  margin-bottom: var(--spacing-03);
  color: var(--red-50);
}
