extends ../layout-website-redesign
include ../_mixins/back_to_btns

block entrypointVar
	- entrypoint = 'pages/user/email-preferences'

block append meta
	meta(name='ol-user' data-type='json' content=user)
	meta(name='ol-userNotificationPreferences' data-type='json' content=JSON.stringify({
		notificationEmailsEnabled: notificationPreferences.enabled,
		projectCommentReplyEmails: notificationPreferences.projectCommentReply,
		projectInviteEmails: notificationPreferences.projectInvite,
		muteAllNotifications: false,
	}))

block vars
	- isWebsiteRedesign = true

block content
	main#main-content.content.content-alt
		#email-preferences-root
